* {margin: 0;padding: 0;}
body {line-height: 1;
      letter-spacing: 1.5px;
      font-family: 'Montserrat', sans-serif;}
img,video {vertical-align: top;}
ul,ol,li {list-style: none;}
a {text-decoration: none; }
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
input,button {outline: none;}

// font-family: 'Montserrat', sans-serif;