@import "reset";
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#header {
    display: flex;
    justify-content: center;
    background-color: #282828;
    > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        img {
            width: 61px;
        }
        p {
            margin-top: 10px;
            color: #fff;
            font-size: 14px;
        }
    }
}

#container {
    .cont1 {
        padding: 100px 0 50px;
        display: flex;
        justify-content: center;
        background-color: #f1f2f3;
        .center {
            width: 50%;
            .book_menu {
                display: flex;
                width: 100%;
                li {
                    width: 33.333333%;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    border: 1px solid #ddd;
                    border-right: none;
                    background-color: #fff;
                    color: #282828;
                    letter-spacing: 0;
                    font-size: 18px;
                    i {
                        padding-right: 10px;
                        font-size: 20px;
                    }
                    &:nth-child(3) {
                        border-right: 1px solid #ddd;
                    }
                }
                li.on {
                    border: 1px solid #282828;
                    background-color: #282828;
                    color: #fff;
                }
            }
        }
    }
    .cont2 {
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        background-color: #f1f2f3;
        .center {
            width: 62.5%;
            form {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .left_wrap {
                    width: 48%;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 50px 0;
                    .date {
                        label {
                            display: block;
                            letter-spacing: 0;
                            font-size: 20px;
                            font-weight: 500;
                            color: #282828;
                        }
                        input {
                            width: 95%;
                            border: 1px solid #ddd;
                            padding: 10px;
                            margin: 10px 0;
                            font-size: 16px;
                        }
                        .flatpickr-calendar.inline {
                            width: 450px;
                            .flatpickr-months {
                                .flatpickr-month {
                                    height: 75px;
                                }
                            }
                            .flatpickr-innerContainer {
                                width: 450px;
                                .flatpickr-rContainer {
                                    width: 100%;
                                    .flatpickr-days {
                                        width: 100%;
                                        .dayContainer {
                                            width: 100%;
                                            max-width: none;
                                            .flatpickr-day {
                                                max-width: none;
                                            }
                                            
                                            .flatpickr-day.selected,
                                            .flatpickr-day.endRange {
                                                background-color: #282828;
                                                border-color: #282828;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .right_wrap {
                    width: 48%;
                    background-color: #fff;
                    padding: 50px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .wrap {
                        width: 70%;
                        h2 {
                            letter-spacing: 0;
                            font-size: 20px;
                            line-height: 22px;
                            font-weight: 500;
                            color: #282828;
                            margin-bottom: 30px;
                        }
                        .check_date {
                            .checkin,
                            .checkout {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 10px;
                                label {
                                    font-size: 18px;
                                    font-weight: 500;
                                    color: #282828;
                                    letter-spacing: 0;
                                }
                                input {
                                    width: 50%;
                                    border: 1px solid #ddd;
                                    padding: 10px;
                                    text-align: end
                                }
                            }
                        }
                        .guest_number,
                        .room_number {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
                            label {
                                font-size: 18px;
                                font-weight: 500;
                                color: #282828;
                                letter-spacing: 0;
                            }
                            input {
                                width: 50%;
                                border: 1px solid #ddd;
                                padding: 10px;
                                text-align: end;
                            }
                        }
                        .searchBtn {
                            display: block;
                            width: 100%;
                            padding: 12px 0;
                            border: none;
                            background-color: #282828;
                            color: #fff;
                            margin-top: 40px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

#footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #282828;
    .left_wrap {
        padding-left: 60px;
        ul {
            display: flex;
            li {
                margin-left: 35px;
                a {
                    font-size: 13.5px;
                    color: #fff;
                }
            }
        }
    }
    .right_wrap {
        padding-right: 60px;
        color: #fff;
        font-size: 13.5px;
        .copyright {
            margin-left: 35px;
            color: #969696;
        }
    }
}