@import "reset";

#header_rel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    a {
        .menu {
            position: absolute;
            top: 30px;
            left: 60px;
            width: 31px;
            height: auto;
            z-index: 1;
        }
    }
    a {
        .logo {
            position: absolute;
            top: 16px;
            left: 50%;
            width: 61px;
            height: auto;
            z-index: 1;
            transform: translateX(-50%);
        }
    }
    
    .login {
        position: absolute;
        top: 40px;
        right: 60px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        img {
            margin: 1px 0 0 10px;
            width: 8px;
            height: 14px;
            transition: all .3s;
        }
        &:hover {
            img {
                transform: translateX(5px);
            }
        }
    }
    
}

#header_fix {
    position: fixed;
    top: -85px;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: #282828;
    z-index: 5;
    transition: all .7s;
    a {
        .menu {
            position: absolute;
            top: 30px;
            left: 60px;
            width: 31px;
            height: auto;
            z-index: 1;
        }
    }
    a {
        .logo {
            position: absolute;
            top: 14px;
            left: 50%;
            width: 61px;
            height: auto;
            z-index: 1;
            transform: translateX(-50%);
            cursor: pointer;
        }
    }
    .book {
        position: absolute;
        color: #fff;
        top: 50%;
        right: 60px;
        font-size: 19px;
        font-weight: 400;
        transform: translateY(-50%);
        opacity: .7;
        transition: all .3s;
        img {
            vertical-align: middle;
            margin-left: 5px;
            width: 13px;
            height: auto;
            transition: all .3s;          
        }
         &:hover {
            opacity: 1;
            img {
                transform: translateX(5px);
            }
        }
    }
}

#side_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px; //여기를 변경
    height: 100%;
    z-index: 10;
    overflow: hidden;
    background-color: #141414;
    font-weight: 400;
    transition: all .5s;
    .close {
        position: absolute;
        top: 25px;
        left: 60px;
        width: 25px;
        height: 26px;
        img {
            width: 100%;
            height: 100%;     
        }
    }
    .masker {
        position: absolute;
        top: 120px;
        left: 60px; //여기를 변경
        width: 170px;
        height: 580px;
        background-color: #141414;
        z-index: 2;
        transition: all .5s .1s;
    }
    .book {
        width: 165px;
        font-size: 19px;
        opacity: .7;
        position: absolute;
        top: 120px;
        left: 60px;
        transition: all .3s;
        color: #fff;
        img {
            width: 8px;
            height: 14px;
            margin-left: 5px;
            vertical-align: middle;
            transition: all .3s;
        }
        &:hover {
            opacity: 1;
            img {
                transform: translateX(5px);
            }
        }
    }
    ul {
        position: absolute;
        top: 170px;
        left: 60px;
        width: 190px;
        li {
            font-size: 25px;
            color: #fff;
            cursor: pointer;
            line-height: 22px;
            transition: all .5s;
            &:hover {
                opacity: .7;
            }
            img {
                display: block;
                width: 18px;
                height: 1px;
                margin: 20px 0;
            }
        }
    }
    .phone {
        position: absolute;
        top: 611px;
        left: 60px;
        width: 170px;
        color: #fff;
        font-size: 15px;
        img {
            width: 12px;
            height: 30px;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    .login_join{
        position: absolute;
        top: 675px;
        left: 60px;
        width: 170px;
        a {
            color: #fff;
            margin-right: 10px;
            transition: all .5s;
            &:hover {
                opacity: .7;
            }
        }
    }
}

#top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 315px);
        > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #282828;
        }
        .topBg01 {
            background-image: url(/img/top_bg_01.jpg);
            background-position: 50% 45%;
        }
        .topBg02 {
            background-image: url(/img/top_bg_02.jpg);
            background-position: 50% 60%;
        }
        .topBg03 {
            background-image: url(/img/top_bg_03.jpg);
            background-position: 50% 25%;
        }
}

#container {
    position: absolute;
    top: calc(100% - 315px);
    left: 0;
    width: 100%;
    height: auto;
    background-color: #282828;
    z-index: 2;
    .cont1 {
        padding: 100px 0 0;
        position: relative;
        .book_now {
            position: absolute;
            top: -50px;
            left: 50%;
            width: 170px;
            height: 100px;
            z-index: 2;
            transform: translateX(-50%);
            > a {
                color: #fff;
                .book_title {
                    position: absolute;
                    top: 20px;
                    left: 28px;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 30px;
                }
                .arrow {
                    position: absolute;
                    top: 36px;
                    right: 20px;
                    width: 16px;
                    height: 27px;
                }
                .left_pc,
                .right_pc {
                    position: absolute;
                    bottom: 0;
                    width: 14px;
                    height: 100px;
                }
                .left_pc {
                    left: 0;
                }
                .right_pc {
                    right: 0;
                }
                .left_sp,
                .right_sp {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    width: 13px;
                    height: 83px;
                }
                .left_sp {
                    left: 0;
                }
                .right_sp {
                    right: 0;
                }
            }
        }
        .text_wrap {
            padding-left: 60px;
            color: #fff;
            span {
                font-size: 19px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0;
            }
            h2.pc {
                font-size: 80px;
                font-weight: 400;
                line-height: 80px;
                letter-spacing: 1px;
                margin-top: 35px;
            }
            h2.sp {
                display: none;
                font-size: 45px;
                line-height: 45px;
                margin-top: 15px;
                font-weight: 600;
            }
            h3 {
                font-size: 25px;
                line-height: 45px;
                margin-top: 30px;
                font-weight: 400;
            }
        }
        #search {
            margin-top: 70px;
            padding-left: 60px;
            display: flex;
            .src_checkin,.src_checkout{
                width: 220px;
                span {
                    display: block;
                    margin-bottom: 7px;
                    font-size: 23px;
                    font-weight: 400;
                    color: #969696;
                }
                #dt_yyyy_mm{
                    font-family: 'Montserrat', sans-serif;
                    appearance: none;
                    width: 115px;
                    height: 27px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    color: #fff;
                    background-color: #282828;
                    background-image: url(/img/arrow_down.png);
                    background-repeat: no-repeat;
                    background-size: 18px 10px;
                    background-position: right 10px;
                    cursor: pointer;
                }
                #dt_dd{
                    font-family: 'Montserrat', sans-serif;
                    appearance: none;
                    width: 55px;
                    height: 27px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    color: #fff;
                    background-color: #282828;
                    background-image: url(/img/arrow_down.png);
                    background-repeat: no-repeat;
                    background-size: 18px 10px;
                    background-position: right 10px;
                    cursor: pointer;
                    padding-left: 5px;
                }
            }
            .src_guests,.src_rooms {
                width: 140px;
                span {
                    display: block;
                    margin-bottom: 7px;
                    font-size: 23px;
                    font-weight: 400;
                    color: #969696;
                }
                select {
                    font-family: 'Montserrat', sans-serif;
                    appearance: none;
                    width: 55px;
                    height: 27px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 27px;
                    color: #fff;
                    background-color: #282828;
                    background-image: url(/img/arrow_down.png);
                    background-repeat: no-repeat;
                    background-size: 18px 10px;
                    background-position: right 10px;
                    cursor: pointer;
                }
            }
            .src_button {
                width: 135px;
                height: 51px;
                cursor: pointer;
                position: relative;
                input {
                    font-family: 'Montserrat', sans-serif;
                    outline: none;
                    border: 0;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    transition: all .5s;
                    cursor: pointer;
                    &:hover {
                        background-color: #fff;
                        color: #282828;
                    }
                }
                .left_pc,.right_pc {
                    position: absolute;
                    top: 0;
                    width: 10px;
                    height: 51px;
                }
                .left_pc {
                    left: 0;
                }
                .right_pc {
                    right: 0;
                }
                .left_sp,.right_sp {
                    display: none;
                    position: absolute;
                    top: 0;
                    width: 6px;
                    height: 45px;
                }
                .left_sp {
                    left: 0;
                }
                .right_sp {
                    right: 0;
                }
            }
        }
        .mybookings {
            display: inline-block;
            margin-top: 35px;
            padding-left: 60px;
            color: #fff;
            img {
                width: 10px;
                height: auto;
                vertical-align: middle;
                margin-left: 15px;
                transition: all .5s;
            }
            &:hover {
                img {
                    transform: translateX(5px);
                }
            }
        }
    }
    .cont2 {
        padding-top: 190px;
        .top_wrap {
            position: relative;
            .title {
                position: absolute;
                top: -88px;
                left: 60px;
                width: 385px;
                height: 205px;
                z-index: 4;
                color: #fff;
                > div {
                    position: absolute;
                    left: 28px;
                    top: 20px;
                    font-size: 80px;
                    font-weight: 400;
                    line-height: 80px;
                }
                .left_pc,
                .right_pc {
                    position: absolute;
                    bottom: 0;
                    width: 29px;
                    height: 199px;
                }
                .left_pc {
                    left: 0;
                }
                .right_pc {
                    right: 0;
                }
                .left_sp,
                .right_sp {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    width: 19px;
                    height: 127px;
                }
                .left_sp {
                    left: 0;
                }
                .right_sp {
                    right: 0;
                }
            }
            .swiper {
                width: 100%;
                height: 550px;
                transition: all .8s;
                .swiper-wrapper {
                    .swiper-slide {
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        > div {
                            position: absolute;
                            bottom: 45px;
                            left: 60px;
                            font-weight: 200;
                            font-size: 60px;
                            line-height: 60px;
                            z-index: 5;
                            color: #fff;
                            .meter {
                                display: block;
                                font-size: 35px;
                                line-height: 30px;
                                span {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                    .one {
                        background-image: url(/img/room_slide_01.jpg);
                        background-position: 50% 70%;
                    }
                    .two {
                        background-image: url(/img/room_slide_02.jpg);
                        background-position: 50% 80%;
                    }
                    .three {
                        background-image: url(/img/room_slide_03.jpg);
                        background-position: 50% 90%;
                    }
                }
                .swiper-pagination {
                    position: absolute;
                    width:200px;
                    bottom: 20px;
                    right: 40px;
                    left: auto;
                    .swiper-pagination-bullet {
                        width: 50px;
                        height: 10px;
                        background-color: #fff;
                        border-radius: 0;
                    }
                }
                .swiper-button-next {
                    color: rgba(255,255,255,.7);
                    width: 58px;
                    height: 113px;
                    top: 50%;
                    right: 70px;
                    transform: translateY(-50%);
                    background-image: url(/img/arrow_rooms.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    transition: all  .5s;
                    &::after {
                        font-size: 0px;
                    }
                    &:hover {
                        right: 50px;
                    }
                }
            }
        }
        .bot_wrap {
            display: flex;
            margin: 50px 0 0 60px;
            transition: all .8s;
            .left_wrap,.right_wrap {
                > div {
                    display: flex;
                    align-items: top;
                    margin-bottom: 30px;
                    img {
                        width: 62px;
                        height: 32px;
                        padding-right: 20px;
                    }
                    .bed,.tv {
                        padding-top: 5px;
                    }
                    .usb {
                        height: 39px;
                    }
                    .txt {
                        color: #fff;
                        font-size: 17px;
                        line-height: 27px;
                        span {
                            display: block;
                            color: #969696;
                        }
                    }
                }
            }
            .left_wrap {
                margin-right: 70px;
            }
        }
    }
    .cont3 {
        position: relative;
        margin-top: 180px;
        color: #fff;
        .title {
            position: absolute;
            top: -88px;
            left: 60px;
            width: 550px;
            height: 205px;
            z-index: 4;
            > div {
                position: absolute;
                left: 28px;
                top: 20px;
                font-size: 80px;
                font-weight: 400;
                line-height: 80px;
            }
            .left_pc,
            .right_pc {
                position: absolute;
                bottom: 0;
                width: 29px;
                height: 199px;
            }
            .left_pc {
                left: 0;
            }
            .right_pc {
                right: 0;
            }
            .left_sp,
            .right_sp {
                display: none;
                position: absolute;
                bottom: 0;
                width: 19px;
                height: 127px;
            }
            .left_sp {
                left: 0;
            }
            .right_sp {
                right: 0;
            }
        }
        .banner {
            position: relative;
            width: 100%;
            height: 555px;
            background-image: url(/img/breakfast_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 90%;
            transition: all .8s;
        }
        .context {
            position: absolute;
            bottom: 40px;
            left: 60px;
            font-size: 17px;
            line-height: 27px;
        }
    }
    .cont4 {
        margin-top: 180px;
        .top_wrap {
            position: relative;
            color: #fff;
            .title {
                position: absolute;
                top: -88px;
                left: 60px;
                width: 495px;
                height: 205px;
                z-index: 4;
                color: #fff;
                > div {
                    position: absolute;
                    left: 28px;
                    top: 20px;
                    font-size: 80px;
                    font-weight: 400;
                    line-height: 80px;
                }
                .left_pc,
                .right_pc {
                    position: absolute;
                    bottom: 0;
                    width: 29px;
                    height: 199px;
                }
                .left_pc {
                    left: 0;
                }
                .right_pc {
                    right: 0;
                }
                .left_sp,
                .right_sp {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    width: 19px;
                    height: 127px;
                }
                .left_sp {
                    left: 0;
                }
                .right_sp {
                    right: 0;
                }
            }
            .banner {
                position: relative;
                width: 100%;
                height: 555px;
                background-image: url(/img/features_bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 100%;
                transition: all .8s;
            }
            .context {
                position: absolute;
                bottom: 40px;
                left: 60px;
                font-size: 17px;
                line-height: 27px;
                display: flex;
                .left_wrap, .right_wrap {
                    > div {
                        padding-right: 70px;
                        p {
                            .subtitle01 {
                                display: inline-block;
                                width: 145px;
                                color: #808080;
                            }
                            .subtitle02 {
                                display: inline-block;
                                width: 100px;
                                color: #969696;
                            }
                        }
                    }
                }
            }
        }
        .bot_wrap {
            padding: 50px 0 60px;
            h4 {
                font-size: 25px;
                color: #fff;
                margin-left: 60px;
                margin-bottom: 35px;
                font-weight: 400;
            }
            .list_wrap {
                color: #fff;
                margin-left: 60px;
                display: flex;
                li{
                    font-size: 17px;
                    line-height: 22px;
                    letter-spacing: 0;
                    margin-bottom: 15px;
                    margin-right: 40px;
                    span {
                        color: #969696;
                    }
                }
            }
        }
    }
    .cont5 {
        position: relative;
        background-color: #141414;
        padding-top: 260px;
        .title {
            position: absolute;
            top: 95px;
            left: 60px;
            width: 390px;
            height: 125px;
            z-index: 4;
            color: #fff;
            > div {
                position: absolute;
                left: 28px;
                top: 20px;
                font-size: 80px;
                font-weight: 400;
                line-height: 80px;
            }
            .left_pc,
            .right_pc {
                position: absolute;
                bottom: 0;
                width: 23px;
                height: 121px;
            }
            .left_pc {
                left: 0;
            }
            .right_pc {
                right: 0;
            }
            .left_sp,
            .right_sp {
                display: none;
                position: absolute;
                bottom: 0;
                width: 19px;
                height: 76px;
            }
            .left_sp {
                left: 0;
            }
            .right_sp {
                right: 0;
            }
        }
        .street {
            padding-bottom: 80px;
            .img_pc {
                display: inline-block;
                width: calc(50% + 50px);
                height: auto;
            }
            .img_sp {
                display: none;
                width: 100%;
                height: auto;
            }
            .context {
                display: inline-block;
                vertical-align: top;
                padding-left: 60px;
                width: calc(50% - 160px);
                line-height: 25px;
                color: #fff;
                font-size: 16.5px;
                .line01 {
                    margin-bottom: 50px;
                    p {
                        span {
                            color: #969696;
                        }
                    }
                }
                .line02 {
                    margin-bottom: 15px;
                    .unbold {
                        font-weight: 300;
                    }
                }
                .line03 {
                    margin-bottom: 55px;
                    p {
                        span {
                            color: #969696;
                        }
                    }
                }
                .location {
                    display: block;
                    color: #969696;
                    font-size: 20px;
                    font-weight: 400;
                    img {
                        vertical-align: top;
                        margin: 3px 0 0 15px;
                        width: 11px;
                        height: 19px;
                        opacity: .7;
                        transition: all .5s;
                    }
                    &:hover {
                        img {
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
        .train {
            padding-bottom: 40px;
            .img_pc {
                display: inline-block;
                width: calc(50% + 50px);
                height: auto;
            }
            .img_sp {
                display: none;
                width: 100%;
                height: auto;
            }
            .context {
                display: inline-block;
                vertical-align: top;
                padding-left: 60px;
                margin-bottom: 40px;
                width: calc(50% - 160px);
                line-height: 25px;
                color: #fff;
                h4 {
                    font-size: 25px;
                    font-weight: 400;
                    margin-bottom: 25px;
                }
                p {
                    font-size: 16.5px;
                    margin-bottom: 25px;
                    span {
                        color: #969696;
                        display: block;
                    }
                }
            }
        }
        .airport_pc {
            color: #fff;
            margin-left: 60px;
            padding-bottom: 70px;
            width: calc(100% - 120px);
            .line01 {
                p {
                    margin: 25px 0;
                    span {
                        color: #969696;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 1158px;
                }
            }
            .line02 {
                h4 {
                    margin-top: 95px;
                    font-size: 25px;
                    line-height: 25px;
                    font-weight: 400;
                }
                h5 {
                    margin-top: 55px;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 400;
                }
                p {
                    margin: 25px 0;
                    span {
                        color: #969696;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 1158px;
                }
            }
            .line03 {
                p {
                    margin: 25px 0;
                    span {
                        color: #969696;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 1158px;
                }
            }
            .line04 {
                h5 {
                    margin-top: 55px;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 400;
                }
                p {
                    margin: 25px 0;
                    span {
                        color: #969696;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 1158px;
                }
            }
            .line05 {
                p {
                    margin: 25px 0;
                    span {
                        color: #969696;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 1158px;
                }
            }
        }
    }
    .cont6 {
        position: relative;
        padding-top: 185px;
        .title {
            position: absolute;
            top: 96px;
            left: 60px;
            width: 435px;
            height: 125px;
            z-index: 4;
            color: #fff;
            > div {
                position: absolute;
                left: 28px;
                top: 20px;
                font-size: 80px;
                font-weight: 400;
                line-height: 80px;
            }
            .left_pc,
            .right_pc {
                position: absolute;
                bottom: 0;
                width: 23px;
                height: 121px;
            }
            .left_pc {
                left: 0;
            }
            .right_pc {
                right: 0;
            }
            .left_sp,
            .right_sp {
                display: none;
                position: absolute;
                bottom: 0;
                width: 19px;
                height: 76px;
            }
            .left_sp {
                left: 0;
            }
            .right_sp {
                right: 0;
            }
        }
        .banner01,.banner02,.banner03,.banner04 {
            position: relative;
            width: 100%;
            height: 555px;
            transition: all .8s;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .banner01{
            background-image: url(/img/gallery01.jpg);
            background-position: 50% 45%;
        }
        .banner02{
            background-image: url(/img/gallery02.jpg);
            background-position: 50% 40%;
        }
        .banner03{
            background-image: url(/img/gallery03.jpg);
            background-position: 50% 40%;
        }
        .banner04{
            background-image: url(/img/gallery04.jpg);
            background-position: 50% 40%;
        }
    }
    .cont7 {
        position: relative;
        padding-top: 285px;
        .title {
            position: absolute;
            top: 91px;
            left: 60px;
            width: 470px;
            height: 125px;
            z-index: 4;
            color: #fff;
            > div {
                position: absolute;
                left: 28px;
                top: 20px;
                font-size: 80px;
                font-weight: 400;
                line-height: 80px;
            }
            .left_pc,
            .right_pc {
                position: absolute;
                bottom: 0;
                width: 23px;
                height: 121px;
            }
            .left_pc {
                left: 0;
            }
            .right_pc {
                right: 0;
            }
            .left_sp,
            .right_sp {
                display: none;
                position: absolute;
                bottom: 0;
                width: 19px;
                height: 76px;
            }
            .left_sp {
                left: 0;
            }
            .right_sp {
                right: 0;
            }
        }
        .context {
            margin-left: 60px;
            padding-bottom: 65px;
            transition: all .8s;
            display: flex;
            .txt_col01{
                margin-right: 40px;
                > a {
                    color: #fff;
                    display: block;
                    margin-bottom: 30px;
                    img {
                        width: 8px;
                        height: 14px;
                        vertical-align: middle;
                        margin: 0px 0 0 10px;
                        transition: all .5s ease-out;
                    }
                    &:hover {
                        img {
                            transform: translateX(5px);
                        }
                    }
                }
                ul {
                    margin-top: 35px;
                    li {
                        color: #fff;
                        line-height: 27px;
                        span {
                            display: block;
                        }
                        .unbold {
                            color: #969696;
                        }
                        .tel,
                        .fax {
                            display: inline-block;
                        }
                    }
                }
            }
            .txt_col02{
                margin-right: 40px;
                .subtitle {
                    font-size: 20px;
                    letter-spacing: 1px;
                    color: #fff;
                }
                ul {
                    margin-top: 18px;
                    li {
                        color: #969696;
                        line-height: 36px;
                        letter-spacing: 1px;
                        font-weight: 400;
                        span {
                            display: inline-block;
                            width: 140px;
                            color: #fff;
                        }
                    }
                }
            }
            .txt_col03{
                ul {
                    margin-top: 38px;
                    li {
                        color: #969696;
                        line-height: 36px;
                        letter-spacing: 1px;
                        font-weight: 400;
                        span {
                            display: inline-block;
                            width: 100px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 50px;
        .left_wrap {
            padding-left: 60px;
            .totop {
                margin-top: 10px;
                width: 38px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: auto;
                    transition: all .5s;
                }
                p {
                    margin-top: 10px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                }
                &:hover {
                    img {
                        transform: translateY(-10px);
                    }
                }
            }
            ul {
                margin-top: 30px;
                display: flex;
                li {
                    margin-right: 35px;
                    a {
                        font-size: 13.5px;
                        color: #fff;
                    }
                }
            }
        }
        .right_wrap {
            padding-right: 60px;
            color: #fff;
            font-size: 13.5px;
            .copyright {
                margin-left: 35px;
                color: #969696;
            }
        }
    }
}