<%- include("subHeader",{ title:"BOOK | NESTHOTEL TOKYO HANZOMON", cssFiles:["bookdate.css"],jsFiles:["book/bookdate.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="center">
                <ul class="book_menu">
                    <li class="on"><i class="fa-solid fa-circle-user"></i>Schedule / Guests</li>
                    <li><i class="fa-solid fa-bed"></i>Plan / Room</li>
                    <li><i class="fa-solid fa-briefcase"></i>Confirm Reservation</li>
                </ul>
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <form method="get">
                    <div class="left_wrap">
                        <div class="date">
                            <label for="form_control">Specify Date</label>
                            <input id="form_control" type="datetime-local"
                                placeholder="Select your check-in & check-out date.">
                        </div>
                    </div>
                    <div class="right_wrap">
                        <div class="wrap">
                            <h2>Specify the number of guests and number of reserved rooms.</h2>
                            <div class="check_date">
                                <div class="checkin">
                                    <label for="checkin">Check-In</label>
                                    <input id="checkin" type="text" disabled>
                                </div>
                                <div class="checkout">
                                    <label for="checkin">Check-Out</label>
                                    <input id="checkout" type="text" disabled>
                                </div>
                            </div>
                            <div class="guest_number">
                                <label for="guest">Guest Number</label>
                                <input id="guest" type="number" min="1" max="5">
                            </div>
                            <div class="room_number">
                                <label for="room">Guest Room</label>
                                <input id="room" type="number" min="1" max="3">
                            </div>
                            <button class="searchBtn" type="button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("input[type=datetime-local]", {
            minDate: "today",
            maxDate: new Date().fp_incr(100),
            mode: "range",
            inline: true,
        });
    </script>
    <%- include("subFooter")%>