<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NESTHOTEL TOKYO HANZOMON</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/index/sideMenu.js"></script>
    <script defer src="/js/index/cont1.js"></script>
</head>
<body>
    <div id="header_rel">
        <a href="#">
            <img class="menu" src="/img/icon_menu.png">
        </a>
        <a href="/">
            <img class="logo" src="/img/logo.png">
        </a>
        <a class="login" href="#">
            <span>LOGIN</span>
            <img src="/img/arrow_right.png">
        </a>
    </div>
    <div id="header_fix">
        <a href="#">
            <img class="menu" src="/img/icon_menu.png">
        </a>
        <a href="/">
            <img class="logo" src="/img/logo.png">
        </a>
        <a class="book" href="#">
            <span>BOOK NOW</span>
            <img src="/img/arrow_right.png">
        </a>
    </div>
    <div id="sideMenu">
        <a class="close" href="#">
            <img src="/img/icon_menu_close.png">
        </a>
        <div class="masker"></div>
        <a class="book" href="#">
            <span>BOOK NOW</span>
            <img src="/img/arrow_right.png">
        </a>
        <ul>
            <li class="rooms">
                <span>GUEST<br/>ROOMS</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="breakfast">
                <span>FREE<br/>BREAKFAST</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="features">
                <span>HOTEL<br/>FEATURES</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="access">
                <span>ACCESS</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="gallery">
                <span>GALLERY</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="contact">
                <span>CONTACT</span>
            </li>
        </ul>
        <div class="phone">
            <img src="/img/icon_phone.png">
            <span>+81-3-6261-4022</span>
        </div>
        <div class="login_join">
            <a href="#">LOGIN</a>
            <a href="#">JOIN</a>
        </div>
    </div>
    <div id="container">
        <div class="cont1">
            <div class="topBg01"></div>
            <div class="topBg02"></div>
            <div class="topBg03"></div>
        </div>
        <div class="cont2"></div>
    </div>
    <div id="footer"></div>
</body>
</html>