<div id="footer">
    <div class="left_wrap">
        <ul>
            <!-- 기존에 존재하는 페이지로 연결한것입니다. -->
            <li><a href="https://www.nesthotel.co.jp/corporate/en/" target="_blank">Corporate</a></li>
            <li><a href="https://www.nesthotel.co.jp/en/" target="_blank">NHJC. HOTELS</a></li>
            <li><a href="https://www.nesthotel.co.jp/corporate/privacy.html" target="_blank">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="right_wrap">
        <span>NEST HOTEL TOKYO HANZOMON(Japanese)</span>
        <span class="copyright">© 2019 NEST HOTEL All Rights Reserved.</span>
    </div>
</div>
</body>

</html>