* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

img, video {
  vertical-align: top;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

input, button {
  outline: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: center;
  background-color: #282828;
}
#header > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
#header > a img {
  width: 61px;
}
#header > a p {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}

#container .cont1 {
  padding: 100px 0 50px;
  display: flex;
  justify-content: center;
  background-color: #f1f2f3;
}
#container .cont1 .center {
  width: 50%;
}
#container .cont1 .center .book_menu {
  display: flex;
  width: 100%;
}
#container .cont1 .center .book_menu li {
  width: 33.333333%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #fff;
  color: #282828;
  letter-spacing: 0;
  font-size: 18px;
}
#container .cont1 .center .book_menu li i {
  padding-right: 10px;
  font-size: 20px;
}
#container .cont1 .center .book_menu li:nth-child(3) {
  border-right: 1px solid #ddd;
}
#container .cont1 .center .book_menu li.on {
  border: 1px solid #282828;
  background-color: #282828;
  color: #fff;
}
#container .cont2 {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  background-color: #f1f2f3;
}
#container .cont2 .center {
  width: 62.5%;
  background-color: #fff;
}

#footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #282828;
}
#footer .left_wrap {
  padding-left: 60px;
}
#footer .left_wrap ul {
  display: flex;
}
#footer .left_wrap ul li {
  margin-left: 35px;
}
#footer .left_wrap ul li a {
  font-size: 13.5px;
  color: #fff;
}
#footer .right_wrap {
  padding-right: 60px;
  color: #fff;
  font-size: 13.5px;
}
#footer .right_wrap .copyright {
  margin-left: 35px;
  color: #969696;
}