* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

img, video {
  vertical-align: top;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

input, button {
  outline: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: center;
  background-color: #282828;
}
#header > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
#header > a img {
  width: 61px;
}
#header > a p {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}

#container .cont1 {
  padding: 100px 0 50px;
  display: flex;
  justify-content: center;
  background-color: #f1f2f3;
}
#container .cont1 .center {
  width: 50%;
}
#container .cont1 .center .book_menu {
  display: flex;
  width: 100%;
}
#container .cont1 .center .book_menu li {
  width: 50%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #fff;
  color: #282828;
  letter-spacing: 0;
  font-size: 18px;
}
#container .cont1 .center .book_menu li i {
  padding-right: 10px;
  font-size: 20px;
}
#container .cont1 .center .book_menu li:nth-child(2) {
  border-right: 1px solid #ddd;
}
#container .cont1 .center .book_menu li.on {
  border: 1px solid #282828;
  background-color: #282828;
  color: #fff;
}
#container .cont2 {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  background-color: #f1f2f3;
}
#container .cont2 .center {
  width: 62.5%;
}
#container .cont2 .center form {
  width: 100%;
}
#container .cont2 .center form input::-webkit-outer-spin-button,
#container .cont2 .center form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#container .cont2 .center form .top_wrap {
  display: flex;
  justify-content: space-between;
}
#container .cont2 .center form .top_wrap .left_wrap {
  width: 48%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
#container .cont2 .center form .top_wrap .left_wrap .date label {
  display: block;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 500;
  color: #282828;
}
#container .cont2 .center form .top_wrap .left_wrap .date input {
  width: 95%;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline {
  width: 450px;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-months .flatpickr-month {
  height: 75px;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-innerContainer {
  width: 450px;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-innerContainer .flatpickr-rContainer {
  width: 100%;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days {
  width: 100%;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer {
  width: 100%;
  max-width: none;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day {
  max-width: none;
}
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.selected,
#container .cont2 .center form .top_wrap .left_wrap .date .flatpickr-calendar.inline .flatpickr-innerContainer .flatpickr-rContainer .flatpickr-days .dayContainer .flatpickr-day.endRange {
  background-color: #282828;
  border-color: #282828;
}
#container .cont2 .center form .top_wrap .right_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 48%;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap {
  width: 70%;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap h2 {
  letter-spacing: 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 30px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .adult_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .adult_wrap h4 {
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 500;
  color: #282828;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .adult_wrap .count {
  display: flex;
  align-items: center;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .adult_wrap .count .minus,
#container .cont2 .center form .top_wrap .right_wrap .wrap .adult_wrap .count .plus {
  font-size: 40px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .adult_wrap .count input {
  width: 40px;
  height: 30px;
  text-align: end;
  line-height: 30px;
  padding-right: 10px;
  background-color: #f1f2f3;
  border: none;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap > div h4 {
  letter-spacing: 0;
  font-weight: 500;
  color: #282828;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line01 h4 {
  font-size: 18px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line03 h4,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line04 h4,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line05 h4 {
  font-size: 14px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line03 p,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line04 p,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line05 p {
  letter-spacing: 0;
  font-size: 15px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line02 h4,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line06 h4 {
  font-size: 14px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line02 .count,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line06 .count {
  display: flex;
  align-items: center;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line02 .count .minus,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line02 .count .plus,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line06 .count .minus,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line06 .count .plus {
  font-size: 40px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line02 .count input,
#container .cont2 .center form .top_wrap .right_wrap .wrap .child_wrap .line06 .count input {
  width: 40px;
  height: 30px;
  text-align: end;
  line-height: 30px;
  padding-right: 10px;
  background-color: #f1f2f3;
  border: none;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .room_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .room_wrap h4 {
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 500;
  color: #282828;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .room_wrap .count {
  display: flex;
  align-items: center;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .room_wrap .count .minus,
#container .cont2 .center form .top_wrap .right_wrap .wrap .room_wrap .count .plus {
  font-size: 40px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .room_wrap .count input {
  width: 40px;
  height: 30px;
  text-align: end;
  line-height: 30px;
  padding-right: 10px;
  background-color: #f1f2f3;
  border: none;
}
#container .cont2 .center form .top_wrap .right_wrap .wrap .searchBtn {
  display: block;
  width: 100%;
  background-color: #282828;
  border: none;
  color: #fff;
  padding: 15px 0;
  margin: 30px auto 0;
  cursor: pointer;
}
#container .cont2 .center form .bot_wrap {
  display: none;
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
}
#container .cont2 .center form .bot_wrap .wrapper {
  padding: 50px;
}
#container .cont2 .center form .bot_wrap .wrapper h4 {
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 20px;
}
#container .cont2 .center form .bot_wrap .wrapper .room01, #container .cont2 .center form .bot_wrap .wrapper .room02, #container .cont2 .center form .bot_wrap .wrapper .room03, #container .cont2 .center form .bot_wrap .wrapper .room04 {
  display: flex;
  margin-bottom: 20px;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .img_wrap, #container .cont2 .center form .bot_wrap .wrapper .room02 .img_wrap, #container .cont2 .center form .bot_wrap .wrapper .room03 .img_wrap, #container .cont2 .center form .bot_wrap .wrapper .room04 .img_wrap {
  width: 30%;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .img_wrap img, #container .cont2 .center form .bot_wrap .wrapper .room02 .img_wrap img, #container .cont2 .center form .bot_wrap .wrapper .room03 .img_wrap img, #container .cont2 .center form .bot_wrap .wrapper .room04 .img_wrap img {
  width: 100%;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap {
  width: 70%;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .explain, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .explain, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .explain, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .explain {
  padding: 25px 50px;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .explain h3, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .explain h3, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .explain h3, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .explain h3 {
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 20px;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .explain > div, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .explain > div, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .explain > div, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .explain > div {
  letter-spacing: 0;
  font-size: 15px;
  font-weight: 400;
  color: #282828;
  margin-bottom: 10px;
  display: flex;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .explain > div p, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .explain > div p, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .explain > div p, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .explain > div p {
  padding-right: 15px;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .explain > div p i, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .explain > div p i, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .explain > div p i, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .explain > div p i {
  margin-right: 10px;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .count, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .count, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .count, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .count {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 50px;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .count .minus,
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .count .plus, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .count .minus,
#container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .count .plus, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .count .minus,
#container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .count .plus, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .count .minus,
#container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .count .plus {
  font-size: 40px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}
#container .cont2 .center form .bot_wrap .wrapper .room01 .context_wrap .count input, #container .cont2 .center form .bot_wrap .wrapper .room02 .context_wrap .count input, #container .cont2 .center form .bot_wrap .wrapper .room03 .context_wrap .count input, #container .cont2 .center form .bot_wrap .wrapper .room04 .context_wrap .count input {
  width: 40px;
  height: 30px;
  text-align: end;
  line-height: 30px;
  padding-right: 10px;
  background-color: #f1f2f3;
  border: none;
}
#container .cont2 .center form .bot_wrap .wrapper .bookBtn {
  display: block;
  width: 400px;
  background-color: #282828;
  border: none;
  color: #fff;
  padding: 15px 0;
  margin: 30px auto 0;
  cursor: pointer;
}

#footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #282828;
}
#footer .left_wrap {
  padding-left: 60px;
}
#footer .left_wrap ul {
  display: flex;
}
#footer .left_wrap ul li {
  margin-left: 35px;
}
#footer .left_wrap ul li a {
  font-size: 13.5px;
  color: #fff;
}
#footer .right_wrap {
  padding-right: 60px;
  color: #fff;
  font-size: 13.5px;
}
#footer .right_wrap .copyright {
  margin-left: 35px;
  color: #969696;
}